@media (max-width:600px){
    body{
        background-color: #A084DC;
        margin: 0;
        text-align: center;
    }
    
}

#header { 
    display: block;
    text-align: center;
    background-color: #645CBB;
    color: white;
    padding: 25px 0 25px 0;
}

body{
    background-color: #A084DC;
    margin: 0;
    text-align: center;
}

.image {
    border-radius: 25%;
}

#about .features{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.content {
    text-align: center;
    display: row;
    justify-content: center;
    align-items: center;
    list-style: none;
}

#footer div {
    padding: 25px 0 25px 0;
    background-color:#BFACE2;
    display: flex;
    justify-content: center;
    align-items: center;
}

.align {
    text-align: center;
}

.first {
    font-size: 20px;
}

li {
    font-size: medium;
    font-weight: bold;
    list-style: none;
}

.btn {
    margin-bottom: 20px;
}

button {
    padding: 10px 10px;
    margin: 10px 10px;
    background-color:#645CBB;
}